runs/
tmp/
bart_large
url_lists/
checkpoints/
data/
env/
exp_out
results/
wandb/
lib/
output/
data/*
pretrained_models
pretrained_models/
.idea/
eche_
runs/
*.pyc
slurm*
.installed.cfg
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
!src/data
multiple_choice-score.jsonl
multiple_choice-predictions/
